.page-content {
    padding: 20px 20px 50px 20px;
    min-height: 700px;
    clear: both;
}
.icon-spin {
    display: inline-block;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
.no-border-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-justify {
    text-align: justify;
}
.text-line-through {
    text-decoration: line-through;
}
.box-heading {
    font-weight: bold;
    font-family: 'Oswald';
    margin-bottom: 15px;
}
.input-group .form-control {
    z-index: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #777777;
    background-color: #f0f2f5;
    height: 100%;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #777777;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #e74c3c;
    text-decoration: none;
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
}
.mbn,
.mvn,
.man {
    margin-bottom: 0px !important;
}
.navbar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.badge {
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle;
    background-color: #bcbcbc;
}
.label {
    font-size: 11px;
    font-weight: 300;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.badge-default,
.label-default {
    background-color: #999 !important;
}
.badge-primary,
.label-primary {
    background-color: #e74c3c !important;
}
.badge-red,
.label-red {
    background-color: #bf4346 !important;
}
.badge-orange,
.label-orange {
    background-color: #e9662c !important;
}
.badge-green,
.label-green {
    background-color: #488c6c !important;
}
.badge-yellow,
.label-yellow {
    background-color: #f2994b !important;
}
.badge-blue,
.label-blue {
    background-color: #0a819c !important;
}
.badge-violet,
.label-violet {
    background-color: #9351ad !important;
}
.badge-pink,
.label-pink {
    background-color: #bf3773 !important;
}
.badge-grey,
.label-grey {
    background-color: #4b5d67 !important;
}
.badge-dark,
.label-dark {
    background-color: #594857 !important;
}
.label-success,
.badge-success {
    background-color: #5cb85c;
    background-image: none !important;
}
.label-warning,
.badge-warning {
    background-color: #f0ad4e;
    background-image: none !important;
}
.label-danger,
.badge-danger {
    background-color: #d9534f;
    background-image: none !important;
}
.label-info,
.badge-info {
    background-color: #5bc0de;
    background-image: none !important;
}

.btn-blue {
    color: #ffffff;
    background-color: #0a819c;
    border-color: #097992;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    color: #ffffff;
    background-color: #086176;
    border-color: #064a59;
}
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
    background-color: #0a819c;
    border-color: #097992;
}