.page-title-breadcrumb {
    padding: 0px 20px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    clear: both;
    height: 50px;
}
.page-title-breadcrumb .page-header {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}
.page-title-breadcrumb .page-header .page-title {
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    padding-top: 5px;
}
.page-title-breadcrumb .page-header .page-subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #bcbcbc;
    display: inline-block;
}
.page-title-breadcrumb .breadcrumb {
    float: right;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: transparent;
    padding-top: 17px;
    margin-left: 10px;
}
.page-title-breadcrumb .breadcrumb li + li:before {
    content: "";
    padding: 0;
}
.page-title-breadcrumb .reportrange {
    float: right;
    margin-top: 7px;
}

.breadcrumb {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}